<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 
	例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.lly.front.mapping.lovewallMapper">
	<!-- 插入用户信息 -->
	<insert id="insertintoLoveWall">
		insert into
		lovewall_table(openid,ltime,lcontent,isShowName,picaddr)
		values(#{openid},#{ltime},#{lcontent},#{isShowName},#{picaddr})
	</insert>


	<!--根据openid查询是否存在用户 -->
	<select id="showAllLoveWall" resultType="com.lly.front.model.LoveWall">
		SELECT *
		FROM lovewall_table l,user_table u
		WHERE l.openid=u.openid
		ORDER BY l.lno DESC
	</select>


	<select id="selectLoveWallByLno" resultType="com.lly.front.model.LoveWall">
		SELECT *
		FROM lovewall_table where lno=#{lno}

	</select>


</mapper>