<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>weChat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>WechatServlet</servlet-name>
    <servlet-class>web.WechatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WechatServlet</servlet-name>
    <url-pattern>/wx.getRoomList</url-pattern>
    <url-pattern>/wx.createRoom</url-pattern>
    <url-pattern>/wx.deleteRoom</url-pattern>
    <url-pattern>/wx.getRoomId</url-pattern>
    <url-pattern>/wx.updateRoomMovieName</url-pattern>
    <url-pattern>/wx.updateRoomMovieStatus</url-pattern>
    <url-pattern>/wx.joinRoom</url-pattern>
    <url-pattern>/wx.quitRoom</url-pattern>
    <url-pattern>/wx.getRoomPeoNum</url-pattern>
    <url-pattern>/wx.sendChatMsg</url-pattern>
    <url-pattern>/wx.getChatMsg</url-pattern>
    <url-pattern>/wx.sendDream</url-pattern>
    <url-pattern>/wx.getDreamList</url-pattern>
    <url-pattern>/wx.refreshRoomInfo</url-pattern>
  </servlet-mapping>
</web-app>